.card-container {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 15px;
    margin: 12px;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    border-radius: 10px;
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #333;

    border-radius: 15px;
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: rgb(0, 119, 181);
    color: #333;
    transform: rotateY(180deg);

    border-radius: 15px;
}

.linkedin-icon {
    width: 43.75px;
    height: 50px;
    transition: transform 0.2s;
}

.linkedin-icon:hover {
    transform: scale(1.1);
}