.card-container {
    position: relative;
    width: 150px;
    height: 200px;
    border-radius: 10px;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    border-radius: 10px;
}

.card-container:hover .card{
    transform: rotateY(180deg);
}

.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: gray;
    color: #333;

    border-radius: 10px;
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: gray;
    color: #333;
    transform: rotateY(180deg);

    border-radius: 10px;
}